
\.gradle/

build/

\.settings/

\.project

java/\.classpath

java/bin/

\.vscode/launch\.json

out/

\.classpath

bin/

capi/**
/src/alt/v/jvm/CAPI.java

src/hazard7/altv/jvm/CAPI.java

/module/BUILD-*

